//*************
// content
//*************
.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 80rem;
}

//*************
// box
//*************
.box-layout {
  align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

//*************
// input
//*************
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $l-size;
  }
}

.input-group__item {
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
  }
}

//*************
// Header
//*************
.page-header {
  background: $off-white;
  margin-bottom: $l-size;
  padding: $s-size 0;
}

.page-header__actions {
  margin-top: $m-size;
}

.page-header__title {
  font-weight: 300;
  margin: 0;
  span {
    font-weight: 700;
  }
}

// Forms
.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }
}

.form__error {
  // margin: 0 0 $m-size 0;
  font-style: italic;
}
